Package: se.nosskirneh.roadrunner
Name: RoadRunner
Depends: mobilesubstrate, firmware (>= 13.0), preferenceloader
Version: 1.0~beta7
Architecture: iphoneos-arm
Description: Keep apps alive through resprings
Depiction: https://henrikssonbrothers.com/cydia/repo/depictions/?p=se.nosskirneh.roadrunner
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
