Package: se.nosskirneh.roadrunner
Name: RoadRunner
Depends: mobilesubstrate
Version: 0.1
Architecture: iphoneos-arm
Description: Keep now playing app active through resprings
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
Section: Tweaks
