<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>KPSettingsHeaderCell</string>
        </dict>


        <!-- Settings -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Settings</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>If "Exclude all apps" is disabled, RoadRunner will only exclude the now playing app. If enabled, keep in mind that you need to manually restart apps if a tweak that targets them has been installed or updated.</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>KPSwitchTableCell</string>
            <key>default</key>
            <true/>
            <key>key</key>
            <string>enabled</string>
            <key>label</key>
            <string>Enabled</string>
            <key>requiresRespring</key>
            <true/>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>cellClass</key>
            <string>KPSwitchTableCell</string>
            <key>default</key>
            <false/>
            <key>key</key>
            <string>excludeAllApps</string>
            <key>label</key>
            <string>Exclude all apps</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.roadrunner.settings-changed</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>RRColorButtonCell</string>
            <key>action</key>
            <string>killAllApps</string>
            <key>label</key>
            <string>Kill all apps</string>
        </dict>


        <!-- Other -->
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Other</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>RRColorButtonCell</string>
            <key>action</key>
            <string>myTweaks</string>
            <key>label</key>
            <string>Check out my other tweaks</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>RRColorButtonCell</string>
            <key>action</key>
            <string>followTwitter</string>
            <key>label</key>
            <string>Follow me on Twitter</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>RRColorButtonCell</string>
            <key>action</key>
            <string>discordServer</string>
            <key>label</key>
            <string>Discord server</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>RRColorButtonCell</string>
            <key>action</key>
            <string>iconCredits</string>
            <key>label</key>
            <string>Icon by @bossgfx_</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>cellClass</key>
            <string>RRColorButtonCell</string>
            <key>action</key>
            <string>sendEmail</string>
            <key>label</key>
            <string>Email me</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>© 2020 Andreas Henriksson</string>
        </dict>
    </array>

    <key>title</key>
    <string>RoadRunner</string>
</dict>
</plist>
